.component-title-Electronics{
    background-color: #94004f;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
  .electron{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* place-content: center; */
    /* place-items: center; */
    gap: 3rem;
  }
  .electron img{
      height: 20rem;
      padding: 1rem;
    
  }

  @media screen and (max-width:768px) {
    .electron{
      grid-template-columns: 1fr 1fr;
    }
    .electron img{
      height: 8rem;
      width: 8rem;
    }
    
  }
  
