.hero-img{
  height: 32.5rem;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* place-content: center; */
  /* place-items: center; */
  gap: 3rem;
}
.card-inner{
  height: 100px;
}
.card-container img{
  margin: auto;
  height: 150px;
  width: 7rem;
}

